{% extends 'layouts/base.html' %}
{% block content %}
<div class="mt-3"></div>
        <h1>Kutubxona - ma'rifatli dunyoga ochilgan eshik.</h1>
    <p>
    <p>
    <i><b>Kishilik jamiyatining taraqqiyoti davomida turli-tuman moddiy, madaniy va an'anaviy yodgorliklar ko‘plab yaratilgan.Ana shunday yodgorliklardan biri kitobdir. 
    Qadimda kitoblar avaylab asralgan, nihoyatda qadrlangan.
    Faqat kutubxonalar tufayligina qadimgi qo‘lyozmalar, bosma kitoblar, tarixiy shaxslar haqidagi manbaalar bizgacha yetib kelgan.
    Ilmli kishilar kitobni barcha boyliklardan yuqori ko‘rganlar, ularni qadrlaganlar. 
    «Kutubxona» forscha “kitoblar uyi”, “kitoblar saqlanadigan joy” degan ma'noni bildiradi. <p>
        <div class="nav-item mx-5">
        <img src="/static/img/k.jpg" class="img-fluid" alt=""><p>
        </div>
        
    Kutubxona dastlabki davrda V.Mayakovskiy nomidagi kutubxona bilan bir binoda joylashtirilgan edi va 1972 yildan esa u o‘z binosiga ega bo‘ldi. 
    Kutubxona uchun bino tanlashda uni shaharning markazida, qulay joyda joylashishi, maktablar va bolalar bog‘chalari yaqinligi hisobga olindi. 
    Respublika bolalar kutubxonasi Davlat muhofazasidan me'morchilik yodgorligi bo‘lmish qadimiy binoda joylashgan. 
    Binoni 1907 yilda boy savdogar aka-uka Vod'yayevlar o‘zlari uchun qurganlar.
    Tez orada bino shahar general-gubernatori ixtiyoriga o‘tkazilgan. 
    Binoda shahar ulamolarining yig‘ilishlari, yubiley tantanalari va ballar ham o‘tkazilar edi.    <div class="nav-item mx-5">
        </div> 
    1965-yilga qadar Respublikada bolalar kutubxonalari faoliyatini umumlashtiruvchi, uslubiy yo‘l-yo‘riqlar ko‘rsatadigan tashkilot bo‘lmagan edi. 
    Shu davrdan boshlab Respublika bolalar kutubxonasi uslubiy markaz vazifasini bajarishni o‘z zimmasiga oldi.
    Kutubxona viloyat bolalar kutubxonalari faoliyatini boshqarib, ilmiy-uslubiy va amaliy yordam ko‘rsatgan. 
    Respublika bolalar kutubxonasi yiliga 13 mingdan ziyod kitobxonlarga xizmat ko‘rsatib kelmoqda. 
    Ko‘p sonli kitobxonlarni bog‘cha bolalaridan boshlab, to 1-11 sinf o‘quvchilari tashkil etadi.
    Shuningdek, shahrimizning barcha maktab o‘quvchilari va bolalar bog‘chalari murabbiylariga, pedagoglarga va o‘quvchilariga hamda ARMlar mutaxassislariga, kutubxona xizmati ko‘rsatilmoqda. 
    Kutubxona har jihatdan qulay va shinam. Kichkintoylardan tortib kattalarning ham qiziqishiga javob beradigan kitob zahirasiga ega. 
    Kutubxonaning asosiy vazifasi kitobni targ‘ibot qilishdan uni keng kitobxon ommasiga yetkazishdan iboratdir. 
    Kutubxona fondida 219 mingdan ziyod adabiyotlar va 100 dan ortiq boshqa nashrlar mavjud. 
    Bular: fanning barcha sohalari bo‘yicha bolalar yoshini hisobga oluvchi badiiy adabiyotlar, ilmiy-ommabop nashrlar, ijtimoiy - siyosiy kitoblar, jurnallar, O‘zbekistonda va Rossiyada nashr qilingan bolalar hamda kattalar uchun gazeta va jurnallar, ensiklopediya-lug‘atlar, CD, DVD , video-audio kassetalardir. 
    Shuningdek, bolalar o‘qishi rahbarlari uchun ilmiy-uslubiy va bibliografik nashrlar ham o‘z o‘rnini topgan. 
    2019-yilga kelib Respublika bolalar kutubxonasining veb-sayti Xalq ta’limi vazirligi qoshidagi “Innovasiya, texnologiya va strategiya markazi” DUK mutaxassislari tomonidan yangilandi va shu bilan birga kitobxonlarga qulaylik yaratish maqsadida mobil ilova ham ishlab chiqildi.
    </b></i>
    <p>
</div> 
<br>
<p>
<br>      
{% endblock %}
    