{% extends 'layouts/base.html' %}
{% block content %}
<br>

    <h1><div class="nav-item mx-5"><div class="nav-item mx-5">Bog'lanish uchun ma'lumotlar:</div></div></h1><p><b><h2><p>Manzil:</h2></b><a href="https://www.google.com/maps/place/G%E2%80%98ijduvon,+O%60zbekiston/@40.0880134,64.5793513,12z/data=!4m5!3m4!1s0x3f5069a7b33e0cd1:0x41fdf3e47b26de0e!8m2!3d40.0820847!4d64.6451287?hl=uz"><img class="image" src="/static/img/XXL.jpeg" alt=""></a><p><h5>Buxoro viloyati G'ijduvon tumani</h5><br><p><b><h2>Pochta:</h2></b><p>f.elineor@xudoyqulova.uz<br><b><h2>Telefon:</h2></b>+998 942572897<p>+998 939362217
<p>


{% endblock %}




