{% extends 'layouts/base.html' %}
{% block content %}
<p>
<div class="container">
  <p><h1>Yordam</h1></p>
  <div class="btn-group dropend-container">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Kitobni ocholmayapman</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"><i><b>Ehtimol, kitobni ochishga harakat qilgan paytda <br> xatolik yuz berdi. 
        Bunday holatda, birinchi navbatda, <br>internetga ulanishni tekshiring.</i></b></a></li>
    </ul>
  </div>
  <p>
  <div class="btn-group dropend-container">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Kitobni qanday yuklab olishim mumkin?</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"><i><b>Bizning katalogimizdan kitobni yuklab olish uchun sizga<br>yoqqan kitobni tanlashingiz lozim, so'ngra <br>"Kitobni yuklab olish" tugmasini bosing.</i></b> </a></li>
    </ul>
  </div>
  <p>
  <div class="btn-group dropend-container">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Barcha kitoblar bepulmi?</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"><i><b>Kutubxonamizdagi barcha kitoblar bepul.</i><b></a></li>
    </ul>
  </div>
  <p>
  <div class="btn-group dropend-container">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Kitobni onlayn tarzda qanday o'qish mumkin?</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"><i><b>Bizning kutubxonamizdagi kitoblarni <br>o'qish uchun sizga maʼqul boʻlgan kitobni tanlashingiz<br>lozim,soʻngra oʻqishni boshlash uchun "Onlayn o'qish"<br>tugmasini bosing.</i></b></a></li>
    </ul>
  </div>
  <p>
  <div class="btn-group dropend-container">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
     Barcha kitoblarning audio versiyasi mavjudmi?</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"><i><b>Hamma kitoblarda ham mavjud emas. <br> Afsuski, audiokitoblarni yaratish elektron kitoblarni <br> yaratishga qaraganda ko'proq vaqt va kuch talab qiladi. <br>Shuning uchun audiokitoblar katalogi kamroq. <br>Lekin biz har oyda yangi kitoblarni qo'shishni <br> davom ettirmoqdamiz. <br> Agar kitob ikki shaklda  bo'lsa - matn va audio – ular <br> kitoblarning kartalarida ko'rsatiladi. <br> "Ovoz versiyasi mavjud" va "Elektron versiyasi mavjud"<br> tugmalariga e'tibor bering.</i></b> </a></li>
    </ul>
  </div>
  <p>
  <div class="btn-group dropend-container">
      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Kitobning audiokitoblardan farqi nimada?</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"><i><b>Elektron kitob audio kitobdan formati bo'yicha farq qilib,<br> tizimda foydalanilishda ajralib turadi. 
          <br>Elektron kitoblar veb-saytda PDF va ePUB formatlarda <br>joylashtirilgan. Audiobook faqat .mp3 formatiga ega. 
        <br>Kitoblardan to'g'ri foydalanish uchun maxsus plaginlarni <br>o'rnatishingizni tavsiya etamiz.</i><b></a></li>
      </ul>
  </div>
</div>

{% endblock %}