{% extends 'layouts/base.html' %}
{% block content %}
<p><h1>Fan darsliklari</h1></p>
<div class="card wow animate__animated animate__fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
    <div class="card-header">
        <h3>1-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/1-sinf/?lang=uz&amp;sinf=1"><img src="img/sinflar/1.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/1-sinf/?lang=uz&amp;sinf=1">1-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>2-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/2-sinf/?lang=uz&amp;sinf=2"><img src="img/sinflar/2.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/2-sinf/?lang=uz&amp;sinf=2">2-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>3-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/3-sinf/?lang=uz&amp;sinf=3"><img src="img/sinflar/3.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/3-sinf/?lang=uz&amp;sinf=3">3-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>4-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/4-sinf/?lang=uz&amp;sinf=4"><img src="img/sinflar/4.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/4-sinf/?lang=uz&amp;sinf=4">4-SINFLAR UCHUN</a>
    </div>
</div>



<br>
<div class="card">
    <div class="card-header">
        <h3>5-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/5-sinf/?lang=uz&amp;sinf=5"><img src="img/sinflar/5.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/5-sinf/?lang=uz&amp;sinf=5">5-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>6-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/6-sinf/?lang=uz&amp;sinf=6"><img src="img/sinflar/6.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/6-sinf/?lang=uz&amp;sinf=6">6-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>7-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/7-sinf/?lang=uz&amp;sinf=7"><img src="img/sinflar/7.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/7-sinf/?lang=uz&amp;sinf=7">7-SINFLAR UCHUN</a>
    </div>
</div>

<br>
<div class="card">
    <div class="card-header">
        <h3>8-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/8-sinf/?lang=uz&amp;sinf=8"><img src="img/sinflar/8.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/8-sinf/?lang=uz&amp;sinf=8">8-SINFLAR UCHUN</a>
    </div>
</div>




<br>
<div class="card">
    <div class="card-header">
        <h3>9-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/9-sinf/?lang=uz&amp;sinf=9"><img src="img/sinflar/9.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/9-sinf/?lang=uz&amp;sinf=9">9-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>10-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/10-sinf/?lang=uz&amp;sinf=10"><img src="img/sinflar/10.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/10-sinf/?lang=uz&amp;sinf=10">10-SINFLAR UCHUN</a>
    </div>
</div>


<br>
<div class="card">
    <div class="card-header">
        <h3>11-Sinf darsliklari</h3>
        <a href="https://dr.rtm.uz/11-sinf/?lang=uz&amp;sinf=11"><img src="img/sinflar/11.jpg" alt=""></a>
    </div>
    <div class="card-footer">
        <a href="https://dr.rtm.uz/11-sinf/?lang=uz&amp;sinf=11">11-SINFLAR UCHUN</a>
    </div>
</div>
<br>

{% endblock %}