{% extends 'layouts/base.html' %}
{% block content %}

<p><h1>Xorijiy kutubxonalarning virtual maydonchalari</h1></p>
<div class="nav-item mx-4  ">
<h2>1. Bodleian kutubxonasiga virtual sayohat</h2></div>
<p></p>
<div class="nav-item mx-4">
    <img class="image-size" src="/static/img/1.jpg" alt="">
<p></p>
</div>
<p>
<p>
<h3>Buyuk Britaniyaning eng yirik kutubxonasi hisoblanmish ushbu kutubxona nufuzli Oksford universitetiga qarashli hisoblanadi.</h3><p></p><a href="https://www.youtube.com/watch?v=TRscTmxMkfs"><button type="button" class="btn btn-primary"><b>Batafsil</b></button></a>
<p>
<div class="nav-item mx-4">
<h2>2. Torento kutubxonasiga virtual sayohat</h2>
</div>
<p>
<div class="nav-item mx-4">
<img class="image-size" src="/static/img/2.jpg" alt="">
</div>
<div class="nav-item mx-4">
<br>
<h3>Ushbu kutubxona Kanadada joylashgan boʼlib, 1813 yilda asos solingan hamda eng koʼp oʼquvchilarni qabul qilish reytingida dunyoda ikkinchi oʼrinda turadi.</h3>
</div>
<p>
<a href="https://www.youtube.com/watch?v=QzJ2dDxYUi8"><button type="button" class="btn btn-primary"><b>Batafsil</b></button></a>
<p>
<div class="nav-item mx-4">
<h2>3. Vande Bogart kutubxonasiga virtual sayohat</h2>
</div>
<p>
<div class="nav-item mx-4">
<img class="image-size" src="/static/img/3.jpg" alt="">
</div>
<p>
<h3>АQShdagi Montana Davlat universitetiga qarashli ushbu kutubxona elektron hamda bosma kitoblarni oʼzida saqlaydi. Kutubxona uzoq yillar davomida universitet talabalari va mahalliy aholiga yuqori darajadagi kutubxona xizmatini koʼrsatib kelmoqda.</h3>
<p>
<a href="https://www.youtube.com/watch?v=mwtluUvtG2Y"><button type="button" class="btn btn-primary"><b>Batafsil</b></button></a>
<br>
<p>
<div class="nav-item mx-4">
<h2>4. Alexandriya kutubxonasiga virtual sayohat</h2>
</div>
<p>
<div class="nav-item mx-4">
<img class="image-size" src="/static/img/4.jpg" alt="">
</div>
<p>
<h3>Mazkur kutubxona Misr davlatida joylashgan boʼlib, yer yuzidagi eng qadimiy kutubxonalardan biri sanaladi. Taxminan mil. avv. III asrda barpo etilgan.</h3>
<p>
<a href="https://www.360cities.net/image/royal-library-of-alexandria"><button type="button" class="btn btn-primary"><b>Batafsil</b></button></a>
<p>
<div class="nav-item mx-4">
<h2>5. Varshava universiteti kutubxonasiga virtual sayohat</h2>
</div>
<p>
<div class="nav-item mx-4">
<img class="image-size" src="/static/img/5.jpg" alt="">
</div>
<p>
<h3>Mazkur kutubxona 1816 yilda Polsha davlatining Varshava shahrida bunyod etilgan boʼlib, oʼzida zamonaviy hamda qadimiy qoʼlyozma va kitoblarni saqlaydi.</h3>
<a href="https://www.360cities.net/image/library-of-warsaw-university-reading-room"><button type="button" class="btn btn-primary"><b>Batafsil</b></button></a><p><br>
<br>
{% endblock %}
